<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ head.description }}">

  <title>{{ head.title }}</title>

  <link rel="stylesheet" href="{{ assetsUrl }}/css/main.css">

  <link rel="icon" href="{{ assetsUrl }}/img/favicon.png">
  <link rel="apple-touch-icon" href="{{ assetsUrl }}/img/apple-touch-icon.png">

  <meta property="og:description" content="{{ head.description }}">
  <meta property="og:title" content="{{ head.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ head.url }}">
  <meta property="og:image" content="{{ head.image }}">

  <meta name="twitter:description" content="{{ head.description }}">
  <meta name="twitter:title" content="{{ head.title }}">
  <meta name="twitter:image:src" content="{{ head.image }}">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="theme-color" content="{{ color }}">
  <meta name="msapplication-navbutton-color" content="{{ color }}">
</head>